<%- include("partial/header.ejs") %>
<main>
    <div class="container">

        <% if(success && success.length > 0 ){ %>
             <div id="toast">
                <%= success  %>
               </div>
        <% } %>
    <div class="posts">
        <%- include("partial/post.ejs" ,{postData}) %>
    </div>

<%- include("partial/tools.ejs", {user}) %>

    </div>
</main>
<%- include("partial/footer.ejs") %>


